.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px dotted red;
}

.racer_table td.active {
  background-color: black;
}

.winner { background-color: orange;
          margin: 20px auto;
          width: 600px;
          height: 600px;
          padding: 20px 20px 20px 20px;
          border: 1px dotted black;   
          font-size: 64px;
          color: green; 
}

th {
  text-align: left;
}
