<div class="container">
  <h1>Welcome to Javascript Racer!</h1>
 <form class="get-names" action="/race" method="post">
  <input name="player1" placeholder="Enter name of Player 1">
  <input name="player2" placeholder="Enter name of Player 2">
  <input type="submit" value="Start!">
 </form>
</div>
